:root {
    --black: rgba(31, 31, 31, 1);
    --blue: rgba(58, 109, 231, 1);
    --light-grey: rgba(190, 188, 187, 1);
    --dark-blue: rgba(22, 28, 59, 1);
    --red: rgba(205, 61, 15, 1);
    --lavish-white: rgba(217, 218, 220, 1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

.mybg-black {
    background-color: var(--black);
}

.mybg-light-grey {
    background-color: var(--light-grey);
}

.mybg-dark-blue {
    background-color: var(--dark-blue);
}

.mybg-blue {
    background-color: var(--blue);
}

#navbarNavDropdown a{
    color: black;
}

#sony1 {
    height: 40px;
    background-color: black;
    text-align: right;
}

#sony1 img {
    width: 80px;
    padding-top: 10px;

}

#jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 350px;
    padding-bottom: 50px;
}

.logo-jumbo {
    max-width: 60%;
}

.logo-hero2 {
    max-width: 60%;
}

#hero2 {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-red {
    background-color: var(--red);
}

#esplora img {
    width: 100%;
}

#social img {
    width: 100%;
}
#play5 img{
    width: 100%;
}
.devices img{
    width: 100%;
}
#sconti img{
    width: 100%;
}
#play-now img{
    width: 100%;
}

.first-devices p {
    text-align: center;
}
sup {
    font-size: 8px;
}
/* footer */

#menu-bottom {
    background-color: #00439C;
}
#menu-bottom ul li {
    line-height: 30px;
    font-size: 14px;
}
img.bottom-logo {
    width: 100px;
}

img.nazione {
    width: 20px;
}

img.sie-logo {
    width: 150px;
}
/* hover  */
.btn-red:hover {
    border-color: red;
    box-shadow: 0 0 0 2px red;
}
.btn-dark:hover {
    border-color: var(--black);
    box-shadow: 0 0 0 2px black;
    background-color: transparent;
}
.btn-primary:hover {
    box-shadow: 0 0 0 2px #0072CE;
}
.card-item:hover {
    transform: translate(0, -5%);
}
.card-item {
    transition: 0.5s;
    cursor: pointer;
}
#navbarNavDropdown a:hover{
    color: var(--blue);
}
.curs-pointer {
    cursor: pointer;
}
