:root {
    --black: rgba(31, 31, 31, 1);
    --blue: rgba(58, 109, 231, 1);
    --light-grey: rgba(190, 188, 187, 1);
    --dark-blue: rgba(22, 28, 59, 1);
    --red: rgba(205, 61, 15, 1);
    --lavish-white: rgba(217, 218, 220, 1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

.sony {
    color: white;
}

.mybg-black {
    background-color: var(--black);
}

.mybg-light-grey {
    background-color: var(--light-grey);
}

.mybg-dark-blue {
    background-color: var(--dark-blue);
}

.mybg-blue {
    background-color: var(--blue);
}

#sony1 {
    height: 40px;
    background-color: black;
    text-align: right;
}

#sony1 img {
    width: 80px;
    padding-top: 10px;

}

#jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 350px;
    padding-bottom: 50px;
}

.logo-jumbo {
    max-width: 60%;
}

.logo-hero2 {
    max-width: 60%;
}

#hero2 {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#esplora {
    background-image: url('../img/ps-plus-april-monthly-games-featured-image-block.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 350px;
    padding-bottom: 50px;
}

.btn-red {
    background-color: var(--red);
}

.btn-red:hover {
    border-color: red;
    box-shadow: 0 0 0 2px red;
}

#esplora img {
    width: 100%;
}

#social img {
    width: 100%;
}
#play5 img{
    width: 100%;
}
.devices img{
    width: 100%;
}
#sconti img{
    width: 100%;
}

@media screen and (max-width: 768px) {
    #esplora {
        background-image: none;
    }

    #esplora img {
        width: 50%;
    }
}

.card-item {
    transition: 0.5s;
    cursor: pointer;
}

.card-item:hover {
    transform: translate(0, -5%);
}
.first-devices p {
    text-align: center;
}
sup {
    font-size: 8px;
}